    /* header css start*/
 
    .dropdown-menu{
        background-color: rgba(83, 170, 182, 0.432);
       box-shadow: 1px 2px 10px #000000;
       text-shadow: 0.075px 0.076px 0.075px black;
    }

.header-wrapper{
    position: relative;
    padding: .9380rem;
    background-color:    #a9cec4;
    box-shadow: 0.5rem .375rem -0.375rem rgb(0, 0, 0)  ;
    -webkit-transition:  background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    width: 100%;
    box-shadow: 3px 3px 12px black;
}
.header-wrapper .navbar-toggler{
border: 0;
 color:#518385 ;
 line-height: 2;
}         
.header-wrapper .navbar-toggler:focus{
color: rgba(0, 0, 0, 0.5);
}
.header-wrapper .nav-item{
margin: 0 .625rem;
}
.header-wrapper .nav-item .nav-link{
font-size: 1.25rem;
font-weight: 500;
display: inline-block;
color: #518385;
text-shadow: 0.25px 0.25px 0.25px black;

}
.header-wrapper .nav-item .nav-link:hover,
.header-wrapper .nav-item .nav-link.active{
color: #0e606e;
text-decoration: 1px 1px 1px ;
 /* background-color: rgb(9, 92, 92);  */
 text-shadow: 3px 3px 5px rgb(253, 255, 255);
 font-size: 1.25rem;

}



      /* header css end */

       /* carosel css start */
       .home .carousel-item{
            min-height: 80vh;
            background-position: center;
            background-size: cover;
            position: relative;
            border-radius: 20px;
            z-index: 1;
    
      }
      .home .carousel-item:before{
            content: '';
            position: absolute;
            left: 0;
            top: 10%;
            background-color:rgba(0,0,0,0.5);
            z-index: -1;
        }
    
      .home .carousel-item .container{
       /* background-color: black;*/
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% ,-50% );
            text-align: center;
            color: white;
        }
        .home .carousel-item h2{
             font-size:30px ;
             color:white;
             text-shadow: 2px 2px 2px black;
             margin: 0 0 10px;
            opacity: 0;
            
        }
    
        .home .carousel-item p{
             font-size:15px ;
             color:  white;
             text-shadow: 1px 1px 1px black;
             margin: 0;
             opacity: 0;
             
        }
        .home .carousel-item.active h2{
          animation:fadeInLeft 0.5s ease forwards;
        }
    
        .home .carousel-item.active p{
          animation:fadeInRight 0.5s ease forwards;
        }
    
    
        @keyframes fadeInLeft{
            0%{
                opacity: 0;
                transform: translateX(-30px);
            }
            100%{
                opacity: 1;
                transform: translateX(0px);
            }
            }
    
            @keyframes fadeInRight{
            0%{
                opacity: 0;
                transform: translateX(30px);
            }
            100%{
                opacity: 1;
                transform: translateX(0px);
            }
            }
            .home .carousel-controls
            {
              position: absolute;
             /* background-color: red; */
              left: 50%;
              bottom: 40px;
              z-index: 10;
              transform: translateX(-50%);
            }
            .home .carousel-indicators{
              position: relative;
              margin: 0;
    
            }
            .home .carousel-indicators button{
              height: 20px;
              width: 20px;
              margin: 0 5px;
              border-radius: 50%;
              background-position: center;
              background-size: cover;
              border: 3px solid transparent;
              transition: all 0.3s linear;
    
            }
            .home .carousel-indicators button.active{
              border-color: #ffffff;
              transform: scale(1.2);
    
            }
    
        /* carosel css end */
        /*banner*/
.banner{
  width: 100%;
  height: 30vh;
  margin-top: 50px;
  background-image: url(../images/banner4.gpj.jpeg) ;
  background-color: rgba(141, 205, 209, 0.6);
  background-blend-mode: darken;
 
}
.banner .content{
  text-align: center;
  padding: 30px;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  color:white;
  font-weight: bold;
  
}
.banner .content p{
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
  color: rgb(153, 199, 192);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.banner .content h1{
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 1px black;
  color: white;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
  /*banner end*/
 
            
 .display .view{
    position: absolute;
    /* bottom: 0.023px; */
    left: 70%;
    margin-top: 35%;
   font-size: 17px;
   transform: translateX(-50%);
   padding:4px 10px;
   width: 20%;
   text-transform: capitalize;
   text-align:center;
   justify-content: center;
   color: rgba(0, 0, 0, 1);
   border: none;
   outline: none;
   font-weight: 700;
   text-decoration: none;
   background-color: rgba(130, 179, 202, 1);
   border-radius: 5px;
   box-shadow: 1px 1px 1px black;
 
}
.view:hover{
    background-color: rgba(0, 0, 0, 0.938);
    color: rgba(255, 255, 255, 0.952);

}
/* DISPLAY HEAD START*/
#heading{
  top: 250px;
  margin-left: 55%;
  position: absolute;
}
#heading h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
}
#heading h1:nth-child(1){
  animation-delay: 1s;
  
}
#heading h1:nth-child(2){
  animation-delay: 2s;

}
#heading h1:nth-child(3){
  animation-delay: 3s;

}
#heading h1 span{
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(83, 170, 182, 0.432)
  ;
  animation: text_reveal_box 1s ease;
}
#heading h1:nth-child(1) span{
  animation-delay: 0.5s;
}#heading h1:nth-child(2) span{
  animation-delay: 1.5s;
}#heading h1:nth-child(3) span{
  animation-delay: 2.5s;
}
@keyframes text_reveal{

  100%{
      
      color: white;
  }
}
@keyframes text_reveal_box{
  0%{
      width: 0%;
      left: 0%;
  }
  50%{
      width: 100%;
      left: 0%;
  }
  100%{
      width:0%;
      left:100%;
  }
}


/* DISPLAY HEAD END */


